[sdl]
fullscreen=true
fullresolution=__FULLRESOLUTION__
output=opengl

[render]
aspect=true
scaler=normal2x

[dosbox]
machine=svga_s3
memsize=8

[cpu]
core=auto
cputype=auto
cycles=auto

[sblaster]
sbtype=sb16
oplmode=auto

[autoexec]
__AUTOEXEC__

